.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


}

.flex div {
    width: 400px;
    text-align: left;
    margin: 20px;
    text-align: center;
}

.info {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    font-size: 25px;
    margin: 20px;
    height: 800px;
    flex-grow: 1;
}

html {
    background-image: url(https://html5book.ru/wp-content/uploads/2015/06/background28.jpg)
}

.card {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 20px;
    text-align: center;
    flex-grow: 1;
}

.title {
    color: grey;
    font-size: 18px;
    text-align: center;
}

button {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    text-align: center;
}

button:hover,
a:hover {
    opacity: 0.7;
}