.info {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    font-size: 25px;
    margin: 20px;
    height: 250px;
  flex-grow: 1;

}

.moreinfo {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 25px;
    margin: 20px;
    height: 500px;
align-self: flex-end;
}

html {
    background-image: url(https://html5book.ru/wp-content/uploads/2015/06/background28.jpg)
}
.flex {
    display: flex;
    flex-wrap: wrap;
justify-content: space-around;


}
.flex div {
    width: 400px;
    text-align: center;

}

.card {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 20px;
    text-align: center;
    flex-grow: 2;

}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;

    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}
