p {
    color: rgb(31, 5, 54);
    border: 2px dashed black;
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
    line-height: 1;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    margin: 35px;
    padding: 35px;
    width: 350px;
    border-radius: 1rem;
    border-color: purple;
    text-shadow: gold;
}

h1 {
    border-radius: 3rem;
    border: 2px dashed purple;
    text-align: center;
    border-top-style: inset;
}

html {
    background-image: url(https://html5book.ru/wp-content/uploads/2015/06/background28.jpg)
}

img {
    width: 400px;
    float: right;
    margin-right: 700px;
    border-radius: 20px;
}

a {
    margin: 55px;
    width: 55px;
}