p {
    color: blueviolet;
    border: 2px dashed black;
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
    line-height: 1;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    margin: 25px;
    padding: 25px;
    width: 350px;
    border-radius: 1rem;
}

h1 {
    border-radius: 3rem;
    border: 2px dashed palevioletred;
    text-align: center;
    border-top-style: inset;
}

html {
    background-image: url(https://html5book.ru/wp-content/uploads/2015/06/background28.jpg)
    
}
